@import url('../icons/style.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    overflow: hidden;
}
h1 {
    margin: 0; padding: 0;
}
h3 {
    font-family: var(--font-basic);
    font-size: 25px;
    letter-spacing: 0.5px;
    color: var(--dark);
}
* {
    box-sizing: border-box;
}

:root {
    --grey: #f1f2f3;
    --grey-transparent: rgba(210, 213, 216, 0.5);
    --dark: #2e3c49;
    --dark-transparent: rgba(46, 60, 73, 0.6);
    --white: #FFF;
    --red: #ca8a8a;

    --font-basic: 'Raleway';
}

/* PAGE */
.page {
    display: block;
    position: absolute;

    top: -200px;
    left: 500px;

    width: 21cm;
    height: 29.7cm;
    
    background-color: var(--white);
    box-shadow: 0px 0px 15px var(--grey-transparent);
    
    transform: scale(0.5);

    cursor: pointer;
}
.page:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

/* BUILDER */
.builder {
    display: flex;
    position: fixed;

    width: 400px;
    height: 100vh;

    overflow-y: scroll;

    background-color: var(--white);
    box-shadow: 0px 0px 15px var(--grey-transparent);

    z-index: 1;
}
.builder > .nav {
    display: block;
    position: fixed;
    
    padding: 10px;

    width: 70px;
    height: 100vh;

    z-index: 1;
}
.builder > .nav div {
    display: block;
    position: relative;

    margin-bottom: 10px;

    width: 50px;
    height: 50px;
    
    background-color: var(--dark);
    color: var(--white);

    border-radius: 20%;
    
    cursor: pointer;
}
.builder > .nav div i {
    position: absolute;
    top: 16px; left: 16px;
    font-size: 18px;
    color: var(--grey);
}
.builder > .nav div span {
    display: none;
    position: relative;
    padding: 5px 10px 5px 10px;
    
    top: 15px;
    left: 55px;

    font-family: var(--font-basic);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    background-color: var(--dark-transparent);
    border-radius: 4px;

    z-index: 1;
}
.builder > .nav div:hover span {
    display: initial;
}

.builder > .section {
    margin-left: 70px;
    padding: 10px 20px 10px 10px;
    width: calc(100% - 70px);
}
.builder > .section > .form-section {
    position: relative;
    margin-top: 30px;
}
.builder > .section > .form-section > .title {
    margin-bottom: 5px;
    font-family: var(--font-basic);
    color: var(--dark);
}
.builder > .section > .form-section a {
    position: absolute;
    top: -5px; right: 0;
}
.builder > .section > .form-section > .side {
    display: flex;
    justify-content: space-between;
}
.builder > .section > .form-section > .side input {
    width: calc(50% - 5px);
}



/* INPUTS */
textarea { 
    resize: vertical; 
    min-height: 100px;
}
input[type=text], input[type=email], textarea {
    padding: 15px;
    margin-bottom: 10px;
    
    width: 100%;

    font-family: var(--font-basic);
    font-size: 14px;
    
    background-color: var(--grey);
    border: 2px solid var(--grey);
    border-radius: 5px;

    transition-duration: 0.2s;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    background-color: var(--white);
    border: 2px solid var(--dark);
}
input[type=text]:not(:placeholder-shown), input[type=email]:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    background-color: var(--white);
}

a.btn {
    padding: 5px 10px 5px 10px;
    font-family: var(--font-basic);
    font-size: 12px;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;

    color: var(--white);
    border: none;
    border-radius: 4px;

    cursor: pointer;
}
a.btn.add {
    background-color: var(--dark);
}
a.btn.remove {
    background-color: var(--red);
}

/* TAGS */
ul.tags {
    margin: 0; padding: 0;
}
ul.tags > li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;

    font-family: var(--font-basic);
    font-size: 14px;

    border: 1px solid var(--grey);
    border-radius: 4px;
    
    cursor: pointer;
}
ul.tags > li:hover {
    color: var(--red);
    border: 1px solid var(--red);
}

/* EXPORT BTN */
.btn-export {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 0px 20px 0px 20px;

    height: 40px;
    font-family: var(--font-basic);
    font-size: 12px;

    text-transform: uppercase;
    letter-spacing: 0.5px;

    border: none;
    border-radius: 20px;

    box-shadow: 0px 0px 15px var(--dark-transparent);
    background-color: var(--dark);
    color: var(--white);

    cursor: pointer;
}